html, body {
  background: #333333;
  color: #EEEEEE;
  text-shadow: 0 0 5px #333333;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  align-content: center;
  justify-content: center;
}

p {
  font-size: 15vw;
  line-height: 15vw;
  text-align: center;
  padding: 0;
  margin: 0;
}

section {
  text-align: center;
}

a {
  background: url(./img/DarvoCodex.png);
  background-size: 100px;
  height: 100px;
  width: 100px;
  transform: rotate(45deg);
  position: fixed;
  bottom: -25px;
  left: -25px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  line-height: 0;
}

.bet-button {
  height: 6vw;
  width: 15vw;
  padding: 0;
  text-align: center;
  background: #333333;
  border-radius: 10px;
  margin: 0.75vw;
  border: 0.5vw solid #cc3333;
  color: #eeeeee;
  font-weight: bolder;
  font-size: 3.5vw;
  line-height: 2.75vw;
  background-image: url("./img/DarvoCodex.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  text-shadow: 0 0 2px #333333;
  outline: 0;
}
.bet-button:hover {
  border-color: #ff3333;
  color: white;
}
.bet-button:active {
  box-shadow: inset 0 0 5px black;
}
.bet-button:hover .dollah {
  color: #55ff55;
  text-shadow: 0 0 5px #004400;
}
.dollah {
  color: #33dd33;
  text-shadow: 0 0 5px #002200;
}

.bar {
  width: 50%;
  margin-left: 25%;
  border: 0.5vw solid lightcyan;
}

.moneynote {
  position: fixed;
  height: 10vw;
  width: 10vw;
  max-height: 50px;
  max-width: 50px;
}